.singlepersonprofile-data img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 5px;
    margin-bottom: 5px;
}
.singlepersonprofile{
    display: flex;
    margin-top: 30px;
    width: 700px;
    margin-bottom: 5px;
    
}
.fa-arrow-left{
    cursor: pointer;
    font-size: 20px;
    margin-top: 3px;
}
.singlepersonprofile-data-name{
    display: flex;
    align-items: center;
  
}
.singlepersonprofile-data-name h4{ 
     font-size: 20px;
     margin-left: 10px;

}
.singlepersonprofile-data-span{
    color: gray;
    margin-left: 5px;
    font-size: 15px;
}